{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BumDec</title>
    <script src=" {% static 'https://kit.fontawesome.com/d08fabf725.js' %}" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/style/style.css' %}" >
    <script src="{% static '/scripts/scripts.js' %}"></script>
    <link rel="website icon" type="png" href="{% static '/img/Logos BumDec/Modo obscuro/Sin Letra/bumdeko.png' %}">
</head>

<body>
    <header class="header">
        <div class="logo">
           <a href="{% url 'index' %} "><img src="{% static '/img/Logos BumDec/Modo obscuro/Sin Letra/bumdeko.png' %}" alt=""></a>
        </div>
        <nav>
            <ul class="navBar ">
                
                <li><a class="blank-f" href="{% url 'Nosotros' %}">Nosotros</a></li>
                <li><a class="blank-f" href="{% url 'Ayuda' %}">Ayuda</a></li>
                <li><a class="blank-f" href="{% url 'Tienda' %}">Tienda</a></li>
            </ul>
        </nav>
        <a href="{% url 'signup' %}" class="btn"><button class="blank-f">Regístrate</button></a>
    </header>

<div class="caja3">
    <h2 class="titulos blank-f"> <span class="blue-f titulos">¿N</span>ecesitas <span class="blue-f titulos">A</span>yuda<span class="blue-f titulos">?</span></h2>
    <p class="caja3-text blank-f">Tienes alguna duda en relación a nuestra aplicación? Aquí podrás encontrar alguna duda que tengas o que se te pueda venir a la mente. También encontrarás terminos y condiciones de uso.
    </p>
</div>



<div class="caja2 black-bg blank-f">
    <h1 class="blue-f">Preguntas Frecuentes</h1>
<div class="faq">
    <ul>
        <li>¿Qué es lo que compro, un producto o un servicio?</li>
        
        <li>Es un producto, ya que solo lo pagarás una vez.</li>
        
        <li>¿Cómo puedo adquirir BumDec VR?</li>
        
        <li>A través de la plataforma Steam o descargándolo en nuestra tienda en línea.</li>

        <li>¿Es necesario registrarme en la página?</li>

        <li>No necesariamente, solo en caso de que quieras recibir notificaciones acerca de nosotros.</li>

        <li>¿Cuántos escenarios hay disponibles?</li>

        <li>Por lo pronto hay 2 escenarios.</li>

        <li>¿Cuáles son los métodos de pago disponible?</li>

        <li>El método de pago puede ser vía tarjeta o PayPal en nuestra tienda en línea.</li>

        <li>¿Cómo puedo saber mas información?</li>

        <li>Puedes navegar sobre la página o mandarnos un correo</li>

        <li>¿Se puede hacer rembolso de BumDec VR?</li>

        <li>Lamentablemente por el momento no contamos con reembolso.</li>

        <li>En caso de un error en la aplicación, ¿cómo puedo reportarlo?</li>
         
        <li>En caso de fallas comunicarse inmediatamente con la empresa por correo.</li>
        
        <li>¿Cómo puedo solicitar más escenarios?</li>

        <li>En nuestra página de Instagram podrás encontrar encuestas sobre que escenario quieren que desarrollemos.</li>

        <li>¿Necesito lentes de VR para usar la app?</li>

        <li>Sí, es uno de los principales requisitos</li>

    </ul>


    <div class="signo">
         <img src="{% static '/img/bumdeko2.png' %}" alt="">
    </div>
    </div>
</div>


<div class="term bluek-bg">
    
    <h1>
        Terminos y condiciones
    </h1>

    <p>
        BumDec le otorga a usted el derecho de usar la aplicación a su gusto o bien de utilizar el software en una tienda
        asociada siempre y cuando usted no robe o haga acto de piratería de este. La licencia que nosotros brindamos es de uso
        única y esta no tiene permitido la falsificación o cualquier intento de plagio ya que BumDec propietario de todos los
        derechos.
        Para proteger su información BumDec no venderá ni compartirá ni un solo dato de su información personal ya que por
        normas jurídicas no no es lícito ni se tiene la intención de publicitar a otras empresas, por ello el intento de robo de
        información o de datos será acorde a una demanda o según el caso tomará medidas legales, sin embargo usted tiene acceso
        a solicitar su información en cualquier momento sin costo.
        Esta licencia de uso también le permite a usted tener contacto con los fundadores y/o desarrolladores de BumDec para
        informar en caso de un error o inconveniente. Finalmente, la venta y/o distribución de este producto a tiendas físicas
        esta prohibida si no es directamente con los propietarios de la misma, si usted lo desea, puede estar más al contacto
        con nosotros creando una cuenta en el sitio en línea de BumDec.
        Todo el contenido incluido en el sitio web, como texto, gráficos, logotipos, iconos, imágenes, grabaciones de audio,
        descargas digitales, compilaciones de datos y software, es propiedad de BumDec o de sus proveedores de contenido y está
        protegido por las leyes de los Estados Unidos Mexicanos y las leyes internacionales de derechos de autor. La compilación
        de todo el contenido en este sitio web es propiedad exclusiva de BumDec y está protegido por las leyes de los Estados
        Unidos Mexicanos y las leyes internacionales de derechos de autor. Todo el software utilizado en el sitio web es
        propiedad de BumDec o de sus proveedores de software y está protegido por las leyes de los Estados Unidos Mexicanos y
        las leyes internacionales de derechos de autor.
        BumDec no manifiesta ninguna representación o garantía de ningún tipo, expresa o implícita, en relación con la operación
        del sitio web o la información, contenido, materiales o productos incluidos en este sitio web. Usted acepta expresamente
        que el uso de este sitio web es bajo su propio riesgo. BumDec se reserva el derecho a remover o eliminar cualquier
        información del sitio web, en cualquier momento, a su entera discreción. En la medida permitida por la ley aplicable,
        BumDec renuncia a toda garantía, expresa o implícita, incluyendo, sin limitación, las garantías implícitas de
        comercialización e idoneidad para algún propósito en particular. BumDec no garantiza que este sitio web, sus servidores
        o el correo electrónico enviado por amazon services están libres de virus o de cualquier otro elemento perjudicial.
        BumDec no será responsable por ningún daño o perjuicio, de ningún tipo, que derive del uso de este sitio web,
        incluyendo, sin limitación, daños y perjuicios directos, indirectos, incidentales, punitivos y consecuenciales.
    </p>
</div>

<div class="caja5">
    <h2 class="titulos blank-f"> <span class="blue-f titulos">C</span>ontáctanos</h2>
<div class="contac  blank-f">
  
    

            <p>
                Aquí te dejamos algunas formas en las que puedes contactárnos
            </p>

            <b>Correo: bumdec@gmail.com</b>
           

</div>

</div>




</body>

</html>