@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family:'Josefin Sans',
        sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 20px;
}
body{
    background: rgb(11, 12, 16);
        background: linear-gradient(36deg, rgba(11, 12, 16, 1) 0%, rgba(56, 74, 96, 1) 50%, rgba(69, 162, 158, 1) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

a{
    text-decoration: none;
}

/*Scroll*/

body::-webkit-scrollbar{
    width: 10px;
    background: #1f2833;
}
body::-webkit-scrollbar-thumb{
    background-color: #66fcf1;
    border-radius: 10px;
}


/*Barra de navergacion*/
.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    z-index: 1000;
    transition: all 1s;
 
}

/*cambio de color del header*/
header.abajo{
    background-color: #1f2833;
}

/*-----------------------------*/

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 1s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .navBar{
    list-style:none ;
}


.header .navBar li{

    display: inline-block;
    color: #ffff;
    padding: 9px 25px;
        border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.header .navBar a{
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;

}




.header .navBar li:hover{

    background-color: #1f2833;
}

.header .btn  button{
    font-weight: 700;
  
    padding: 9px 25px;
    background-color: #1f2833;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #66fcf1;
    color: #1f2833;
    transform: scale(1.1);
}



/*Cover*/


.caja1 {
    position: relative;
    display: block;
    width: 100%;
    height: 550px;
    padding: 0;
}
.palabra {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 150px;
}


.palabra .tittle{
    font-size: 150px;
}




.btn-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.palabra .des{
    display: block;
    margin: 10px 0 30px 0;
    text-align: center;
}



.btn-cover  button {
        display: block;
        font-size: 60px;
        color: #66fcf1;
        padding: 20px 25px;
        background-color: #1f2833;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        }


.btn-cover button:hover {
    background-color: #66fcf1;
    color: #1f2833;
    transform: scale(1.1);
}





/*imagenes galeria*/
.caja2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.titulos{
    font-size: 50px;
    text-align: center;
}

.caja2 .galeria{
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gal-img {
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    
    
}

.galeria img{
    border-radius: 50%;
        transition: all 1s;
        border: 10px solid #1f2833;
        
}

.galeria img:hover{
    border: 10px solid #45a29e;
    transform: scale(1.1);
    cursor: pointer;
}


.caja2 .caja2-text{
    padding: 30px;
    text-align: center;

}


/*Caja 3*/

.caja3 {
    background-image: url(/img/blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    padding: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.caja3 .titulos{
    
    font-size: 100px;
}

.caja3 .caja3-text{
    text-align: center;
    padding-left: 30px;
}

/*Escenarios*/

.caja4{
    padding-top:50px ;
    background-image: url(/img/blur2.png);
   
        background-size: cover;
        background-position: 50px;
}

.caja4 .escenarios {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.escenarios img{
    margin: 20px;
    width: 500px;
    -webkit-box-shadow: 7px 30px 38px 28px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 7px 30px 38px 28px rgba(0, 0, 0, 0.75);
        box-shadow: 7px 30px 38px 28px rgba(0, 0, 0, 0.75);
    transition: all 1s;
}


.escenarios img:hover{
    transform: scale(1.1);
    cursor: pointer;
}




/*Caja5*/
.caja5{
   padding-top: 50px;
}


.planes{
    
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.planes ul{
    list-style: none;
    text-align: center;
    width: 300px;
    margin: 40px;
}

.planes li{
    margin: 20px 0 0 0 ;
}


.planes .opcion1,.opcion2{
    border: 10px solid #45a29e;
    border-radius: 30px;
    padding: 40px 0 20px 0;
    margin-bottom: 50px;
    transition: all 1s;
}


.planes .opcion1:hover,.opcion2:hover{
    border: 10px solid #66fcf1;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 11px 30px 14px rgba(69, 162, 157, 1);
        -moz-box-shadow: 0px 11px 30px 14px rgba(69, 162, 157, 1);
        box-shadow: 0px 11px 30px 14px rgba(69, 162, 157, 1);
}


.planes .btn-plan{
    display: flex;
    justify-content: space-evenly;
        align-items: center;
}
.planes .btn-plan button{
        
        display: flex;
        align-items: center;
        font-size: 30px;
        color: #ffff;
        padding: 20px 25px;
        background-color: #0b0c10;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}


.planes .btn-plan button:hover{
        background-color: #66fcf1;
            color: #1f2833;
            transform: scale(1.1);
            

}
/*tienda*/

.bumDec{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.descBum ul {
    list-style: none;
    text-align: center;
    width: 500px;
    margin: 40px;
}

.descBum li {
    margin: 20px 0 0 0;
}


.bumDec .descBum {
    border: 10px solid #45a29e;
    background-color: #1f2833;
    border-radius: 30px;
    padding: 40px 0 20px 0;
    margin-bottom: 50px;
    transition: all 1s;
}



.bumDec .desc{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 500px;
    height: 200px;
}



.bumDec .desc h2{

    text-align: left;
 
}

.bumDec .btn-plan{

    display: flex;
    justify-content: space-evenly;
}

.descBum:hover {
    border: 10px solid #66fcf1;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 11px 30px 14px rgba(69, 162, 157, 1);
    -moz-box-shadow: 0px 11px 30px 14px rgba(69, 162, 157, 1);
    box-shadow: 0px 11px 30px 14px rgba(69, 162, 157, 1);
}


.bumDec .btn-plan button {
    font-size: 30px;
    color: #ffff;
    padding: 20px 25px;
    background-color: #0b0c10;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.bumDec .btn-plan button:hover {
    background-color: #66fcf1;
    color: #1f2833;
    transform: scale(1.1);
}
/*Galeria de compra de albums*/
.albums{
    margin:50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.target{
    border-radius: 50px;
    display: flex;
    margin-bottom: 40px;
    transition: all 1s;
    
}

.target .btn-plan {
    display: flex;
}



.target .btn-plan button {
    align-self: center;
    font-size: 20px;
    color: #ffff;
    padding: 20px 25px;
    background-color: #0b0c10;
    border: none;
    
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.target .btn-plan button:hover {
    background-color: #66fcf1;
    color: #1f2833;
    transform: scale(1.1);
}
.target img{
    width: 100px;
    margin: 0;
    transition: all 1s;
}
.target p {
    align-self: center;
    margin: 0;
    padding: 0 0 0 20px;
    width: 300px;
    display: inline-block;
}

.target img:hover{
    transform: scale(1.1);
    cursor: pointer;

}

/*Soebre Nosotros*/
.we{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.we img{
    width: 500px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 78px 23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px 23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px 23px rgba(0, 0, 0, 0.75);
   
}


.we .desc{
    align-self:center;
}

.we .desc h2{
    text-align: left;
    font-size: 50px;
}

.we .desc h2 .blue-f{
    font-size: 50px;
}

.we .desc  p{
    margin-top: 40px;
    display: inline-block;
    width: 400px;
}




.comentarios{
    margin-top: 200px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.comentarios .titulo{
   
    font-size: 70px;
}



.comentarios img{
    width: 100px;
    margin: 50px;
    border-radius: 50px;
    border: 5px solid #66fcf1;
-webkit-box-shadow: 0px 0px 78px 23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px 23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px 23px rgba(0, 0, 0, 0.75);
}


.teamJaiba{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.teamJaiba p {
    width: 300px;
    padding: 20px;
}

.teamJaiba h2{
    padding-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #66fcf1;
    color: #0b0c10;
    font-size: 30px;
}

.josue, .javi, .tlatolk{
    border-radius: 20px;
    padding: 30px 10px 30px 10px ;
    margin-bottom: 50px;
    background-color: #1f2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/*Ayuda*/
.caja2 h1{

    margin: 0 0 0 50px;
}

.faq{
    display: flex;
}

.signo b{
    align-self: center;
    font-size: 500px;
}
.faq ul li{
    margin: 20px 0 0 50px ;
    list-style: none;
}

.term{
    padding: 50px;
}

.term h1{
    font-size: 60px;
    margin: 30px 0;
}


.contac{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.caja5 p{
    margin: 20px;
}

.caja5 b{
    margin: 20px;
}

.caja5 a{
    margin: 20px;
    color: #66fcf1;
    text-decoration: none;
}
/*Login*/

.signupFrm{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.form h1{
    text-align: center;
    font-size: 30px;
}

.form .input{
        color: #ffff;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        background: #0b0c10;
        border-radius: 7px;
        font-size: 16px;
        padding: 0 20px;
        outline: none;
        transition: all 1s;
        z-index: 1;
}

.form .input:focus{
        border: 2px solid #66fcf1 ;
}

.form .input:hover {
    border: 2px solid #66fcf1;
}

.signupFrm .form{

    border-radius: 50px;
    padding: 50px;
    height: 550px;
    align-self: center;
    border: 10px solid #1f2833;
    transition: all 1s;
}

.form:hover{
    border: 10px solid #66fcf1;
   
}


.signupFrm .form div{
    margin-top: 20px;
}

.signupFrm .form .btn input{

    font-size: 20px;
        color: #ffff;
        padding: 20px 25px;
        background-color: #0b0c10;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}
.signupFrm .form .btn {

    display: flex;
    justify-content: space-evenly;
}

.signupFrm .form .btn input:hover {
    background-color: #66fcf1;
    color: #1f2833;
    transform: scale(1.1);
}

.signupFrm .form .btn a {

    font-size: 20px;
    color: #ffff;
    padding: 20px 25px;
    background-color: #0b0c10;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signupFrm .form .btn {

    display: flex;
    justify-content: space-evenly;
}

.signupFrm .form .btn a:hover {
    background-color: #66fcf1;
    color: #1f2833;
    transform: scale(1.1);
}


/*Colores background*/


.black-bg{
    background-color: #0b0c10;
}

.gray-bg{
    background-color: #1f283331;
}

.white-bg{
    background: #c5c6c7;
}

.blue-bg{
    background: #66fcf1;
}

.bluek-bg{
    background: #45a29e;
}

/*Colores Fuente*/
.black-f{
    color: #0b0c10;
}

.gray-f{
    color: #1f2833;
}

.white-f{
    color:#c5c6c7;
}

.blue-f{
    color: #66fcf1;
}

.bluek-f{
    color: #45a29e;
}

.blank-f{
    color: #ffff;
}

.albums p{
    font-size: 25px;
}

.blue-italic{
    display: block;
    color:#66fcf1;
    font-size: 15px;
    font-family:sans-serif;
    font-style: italic;
}